.triggerButton {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.icon {
    height: 0.875rem;
    width: 0.875rem;
}

.formContainer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}