.triggerButton {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.icon {
    height: 1rem;
    width: 1rem;
}

.dialogContent {
    max-width: 42rem;
}

.formContainer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
}