@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
    :root {
        --background: 0 0% 7%;
        --foreground: 0 0% 100%;

        --card: 0 0% 10%;
        --card-foreground: 0 0% 100%;

        --popover: 0 0% 10%;
        --popover-foreground: 0 0% 100%;

        --primary: 0 0% 100%;
        --primary-foreground: 0 0% 7%;

        --secondary: 0 0% 15%;
        --secondary-foreground: 0 0% 100%;

        --muted: 0 0% 15%;
        --muted-foreground: 0 0% 70%;

        --accent: 0 0% 15%;
        --accent-foreground: 0 0% 100%;

        --success: 0 0% 100%;
        --success-foreground: 0 0% 7%;

        --warning: 0 0% 100%;
        --warning-foreground: 0 0% 7%;

        --info: 0 0% 100%;
        --info-foreground: 0 0% 7%;

        --destructive: 0 0% 100%;
        --destructive-foreground: 0 0% 7%;

        --border: 0 0% 20%;
        --input: 0 0% 20%;
        --ring: 0 0% 100%;

        --radius: 0.75rem;

        --sidebar-background: 0 0% 7%;
        --sidebar-foreground: 0 0% 100%;
        --sidebar-primary: 0 0% 100%;
        --sidebar-primary-foreground: 0 0% 7%;
        --sidebar-accent: 0 0% 15%;
        --sidebar-accent-foreground: 0 0% 100%;
        --sidebar-border: 0 0% 20%;
        --sidebar-ring: 0 0% 100%;
    }

    .dark {
        --background: 0 0% 20%;
        --foreground: 0 0% 100%;

        --card: 0 0% 20%;
        --card-foreground: 0 0% 100%;

        --popover: 0 0% 20%;
        --popover-foreground: 0 0% 100%;

        --primary: 0 0% 100%;
        --primary-foreground: 0 0% 20%;

        --secondary: 0 0% 25%;
        --secondary-foreground: 0 0% 100%;

        --muted: 0 0% 25%;
        --muted-foreground: 0 0% 65%;

        --accent: 0 0% 25%;
        --accent-foreground: 0 0% 100%;

        --success: 0 0% 100%;
        --success-foreground: 0 0% 20%;

        --warning: 0 0% 100%;
        --warning-foreground: 0 0% 20%;

        --info: 0 0% 100%;
        --info-foreground: 0 0% 20%;

        --destructive: 0 0% 100%;
        --destructive-foreground: 0 0% 20%;

        --border: 0 0% 30%;
        --input: 0 0% 30%;
        --ring: 0 0% 100%;

        --sidebar-background: 0 0% 20%;
        --sidebar-foreground: 0 0% 100%;
        --sidebar-primary: 0 0% 100%;
        --sidebar-primary-foreground: 0 0% 20%;
        --sidebar-accent: 0 0% 25%;
        --sidebar-accent-foreground: 0 0% 100%;
        --sidebar-border: 0 0% 30%;
        --sidebar-ring: 0 0% 100%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground font-sans antialiased text-sm;
    }

    h1 {
        @apply font-semibold tracking-tight text-xl;
    }

    h2 {
        @apply font-semibold tracking-tight text-lg;
    }

    h3 {
        @apply font-semibold tracking-tight text-base;
    }

    h4,
    h5,
    h6 {
        @apply font-semibold tracking-tight text-sm;
    }
}